<h5> Tasks</h5>

<form>
<label> Dia da Semana: </label>
<select #day>
  <option value="Segunda-feira">Segunda-feira</option>
  <option value="Terça-feira">Terça-feira</option>
  <option value="Quarta-feira">Quarta-feira</option>
  <option value="Quinta-feira">Quinta-feira</option>
  <option value="Sexta-feira">Sexta-feira</option>
  <option value="Sábado">Sábado</option>
</select>

<br>

<label> Nome: </label>
<input type="text" class="form-control" id="autoSizingInputGroup"
  placeholder="Nome da disciplina" #name/>
<br>

<label> Horário </label><br>
Início: <input type="time" class="form-control" #hour />
Término: <input type="time" class="form-control" #hour /><br>
</form><br>

<button
(click)="list.add(name.value, day.value, hour.value);
        name.value = ''; day.selectedIndex = 0; hour.value = ''; ">
Adicionar
</button>

<table>
<tr>
  <th> Nome </th>
  <th> Dia da Semana </th>
  <th> Horário </th>
</tr>
<tr *ngFor="let task of list.getList(); index as i">
  <td> {{ task.name }} </td>
  <td> {{ task.day }} </td>
  <td> {{ task.hour }} </td>
  <button (click)="list.remove(i)"> Deletar </button>
</tr>
</table>