<div class="container">
  <h5 class="title">TASK</h5>

  <form class="form" [formGroup]="tarefaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="dayLabel" for="day">Dia da Semana:</label>
      <select id="day" formControlName="dia">
        <option value="">Selecione o dia</option>
        <option value="Segunda-feira">Segunda-feira</option>
        <option value="Terça-feira">Terça-feira</option>
        <option value="Quarta-feira">Quarta-feira</option>
        <option value="Quinta-feira">Quinta-feira</option>
        <option value="Sexta-feira">Sexta-feira</option>
        <option value="Sábado">Sábado</option>
      </select>
      <div
        *ngIf="tarefaForm.get('dia').invalid && tarefaForm.get('dia').touched"
      >
        Dia é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label class="nameLabel" for="name">Nome da Tarefa:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nome da Disciplina"
        formControlName="nome"
      />
      <div
        *ngIf="tarefaForm.get('nome').invalid && tarefaForm.get('nome').touched"
      >
        Nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label class="hourLabel" for="hour">Horário da Tarefa:</label>
      <div class="time-inputs">
        <div>
          <label for="start-time">Início:</label>
          <input
            type="time"
            id="start-time"
            class="form-control"
            formControlName="horaInicio"
          />
          <div
            *ngIf="
              tarefaForm.get('horaInicio').invalid &&
              tarefaForm.get('horaInicio').touched
            "
          >
            Horário de início é obrigatório.
          </div>
        </div>
        <div>
          <label for="end-time">Término:</label>
          <input
            type="time"
            id="end-time"
            class="form-control"
            formControlName="horaFim"
          />
          <div
            *ngIf="
              tarefaForm.get('horaInicio').invalid &&
              tarefaForm.get('horaInicio').touched
            "
          >
            Horário de início é obrigatório.
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn" [disabled]="!tarefaForm.valid">
      Adicionar
    </button>
  </form>

  <table class="task-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Dia da Semana</th>
        <th>Horário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of lista; index as i">
        <td>{{ task.nome }}</td>
        <td>{{ task.dia }}</td>
        <td>{{ task.horaInicio }} - {{ task.horaFim }}</td>
        <td>
          <button class="btn-delete" (click)="removeTask(i)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
