<h5>Home</h5>
<p>
  <strong> Tarefa Service - Instruções </strong><br>
  Crie um projeto de aplicação web com sua identificação (nome completo e RA) no cabeçalho e os seguintes recursos: </p>
  <ul>
    <li> Um serviço de temporizador: um componente que permita iniciar e parar o temporizador com um intervalo definido pelo usuário. </li>
    <li> Um serviço para prover uma lista de disciplinas matriculadas (nome, diaDaSemana e horário), já populada com as disciplinas que você está cursando neste semestre. </li>
    <li> Um componente que permita listar e manipular (incluir e remover) sua lista de disciplinas. </li>
  </ul>