<div class="container">
  <h5 class="page-title">HOME</h5>

  <p class="instructions">
    <strong>Projeto Service - Instruções</strong><br />
    Crie um projeto de aplicação web com sua identificação (nome completo e RA)
    no cabeçalho e os seguintes recursos:
  </p>

  <ul class="task-list">
    <li>
      <span class="icon">🕒</span>
      <span class="task-text"
        >Um serviço de temporizador: um componente que permita iniciar e parar o
        temporizador com um intervalo definido pelo usuário.</span
      >
    </li>
    <li>
      <span class="icon">📅</span>
      <span class="task-text"
        >Um serviço para <em>nome</em>, já populada com as disciplinas que você
        está cursando neste semestre, incluindo o <em>dia da semana</em> e o
        <em>horário</em>.</span
      >
    </li>
    <li>
      <span class="icon">✏️</span>
      <span class="task-text"
        >Um componente que permita listar e manipular (incluir e remover) sua
        lista de disciplinas.</span
      >
    </li>
  </ul>
</div>
